<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добавить расход</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        function toggleSidebar() {
            document.getElementById("sidebar").classList.toggle("open");
        }
    </script>

</head>
<div class="top-profile">
    <div class="profile-icon" onclick="toggleProfileMenu()">👤</div>

    <div class="profile-menu" id="profileMenu">
        <a href="/profile?token={{ token }}">👤 Профиль</a>
        <a href="/settings?token={{ token }}">⚙ Настройки</a>
        <a href="/login">🚪 Выйти</a>
    </div>
</div>

<script>
function toggleProfileMenu() {
    document.getElementById("profileMenu").classList.toggle("open");
}
</script>

<body>
<!-- ЛЕВАЯ ВЫЕЗЖАЮЩАЯ ВКЛАДКА -->
<div class="sidebar" id="sidebar">s

    <div class="sidebar-tab" onclick="toggleSidebar()">
        ☰
    </div>

    <div class="sidebar-content">
        <a href="/home?token={{ token }}">🏠 Главная</a>
        <a href="/add_expense?token={{ token }}">➖ Добавить расход</a>
        <a href="/add_income?token={{ token }}">➕ Добавить доход</a>
        <a href="/history?token={{ token }}">📜 История</a>
        <a href="/wishlist?token={{ token }}">🕒 Отложенные покупки</a>
        <a href="/goals?token={{ token }}">🎯 Цели</a>
        <a href="/stats?token={{ token }}">📊 Статистика</a>
    </div>

</div>


<div class="auth-card">
    <h1>Добавить расход</h1>

    <form method="post">
        <input type="number" step="0.01" name="amount" placeholder="Сумма" required>

        <select name="category_id" class="select-input">
            {% for cat in categories %}
            <option value="{{ cat[0] }}">{{ cat[1] }}</option>
            {% endfor %}
        </select>

        <input type="text" name="description" placeholder="Описание (необязательно)">

        <button class="auth-btn" type="submit">Добавить</button>
    </form>

    <p class="auth-link">
        <a href="/home?token={{ token }}">Назад</a>
    </p>

</div>

</body>
</html>
