<div class="admin-sidebar">
    <h3 style="padding-left: 20px; color:#4b78ff;">Админ</h3>

    <a href="/admin?admin={{ admin_name }}">🏠 Главная</a>
    <a href="/admin/users?admin={{ admin_name }}">👥 Пользователи</a>
    <a href="/admin/transactions?admin={{ admin_name }}">💸 Транзакции</a>
    <a href="/admin/stats?admin={{ admin_name }}">📊 Статистика</a>
    <a href="/admin/logs?admin={{ admin_name }}">📄 Логи</a>

    <h3 style="padding-left: 20px; margin-top: 20px;">Пользователь</h3>
    <a href="/login">🚪 Выйти</a>
</div>
