<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мои цели</title>
    <link rel="stylesheet" href="/static/style.css">

    <script>
        function toggleSidebar() {
            document.getElementById("sidebar").classList.toggle("open");
        }
    </script>
</head>
<div class="top-profile">
    <div class="profile-icon" onclick="toggleProfileMenu()">👤</div>

    <div class="profile-menu" id="profileMenu">
        <a href="/profile?token={{ token }}">👤 Профиль</a>
        <a href="/settings?token={{ token }}">⚙ Настройки</a>
        <a href="/login">🚪 Выйти</a>
    </div>
</div>

<script>
function toggleProfileMenu() {
    document.getElementById("profileMenu").classList.toggle("open");
}
</script>

<body>

<!-- SIDEBAR -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-tab" onclick="toggleSidebar()">☰</div>

    <div class="sidebar-content">
        <a href="/home?token={{ token }}">🏠 Главная</a>
        <a href="/add_expense?token={{ token }}">➖ Добавить расход</a>
        <a href="/add_income?token={{ token }}">➕ Добавить доход</a>
        <a href="/history?token={{ token }}">📜 История</a>
        <a href="/wishlist?token={{ token }}">🕒 Отложенные покупки</a>
        <a href="/goals?token={{ token }}">🎯 Цели</a>
        <a href="/stats?token={{ token }}">📊 Статистика</a>

    </div>
</div>

<!-- PAGE WRAPPER -->
<div class="page-wrapper">

    <div class="wishlist-container">
        <h1 class="wishlist-title">🎯 Мои цели</h1>

        <!-- Кнопка добавить -->
        <a href="/add_goal?token={{ token }}"
           class="goal-btn"
           style="margin-bottom: 20px; display: block; text-align: center;">
            ➕ Добавить цель
        </a>

        <!-- Список всех целей -->
        {% for g in goals %}
        <div class="wish-card">

            <div class="wish-top">
                <div class="wish-name">{{ g.name }}</div>
                <div class="wish-price">{{ g.saved }} / {{ g.target }} ₸</div>
                <div class="wish-date">
                    Создана: {{ g.date }}
                </div>
            </div>

            <div class="progress-bar">
                <div class="progress-fill" style="width: {{ g.percent }}%;"></div>
            </div>

            <div class="wish-actions">
                <a href="/goal_edit?token={{ token }}&id={{ g.id }}" class="wish-btn">
                    ✏ Изменить
                </a>

                <a href="/goal_delete?token={{ token }}&id={{ g.id }}" class="wish-btn danger">
                    🗑 Удалить
                </a>
            </div>

        </div>
        {% endfor %}

        {% if goals|length == 0 %}
            <p class="no-history">Целей пока нет</p>
        {% endif %}

    </div>

</div>

</body>
</html>
