{% extends "layout.html" %}
{% block content %}

<div class="max-w-xl mx-auto mt-10">

    <h1 class="text-3xl font-semibold mb-8 flex items-center justify-center gap-2">
        👤 Профиль
    </h1>

    <div class="bg-slate-900/80 p-6 rounded-2xl border border-white/10 shadow space-y-6">

        <!-- ЛОГИН -->
        <div>
            <p class="text-slate-400 text-sm mb-1">Ваш логин</p>

            <div class="flex items-center justify-between bg-slate-800 p-3 rounded-xl border border-white/10">
                <span class="text-white text-lg font-semibold">
                    {{ username }}
                </span>
            </div>
        </div>

        <!-- КНОПКИ -->
        <div class="flex flex-col gap-3 mt-6">

            <!-- Настройки -->
            <a href="/settings?token={{ token }}"
                class="px-5 py-3 rounded-xl bg-indigo-600 text-white text-center font-semibold hover:bg-indigo-500 transition">
                ⚙ Настройки
            </a>

            <!-- Выход -->
            <a href="/login"
               class="px-5 py-3 rounded-xl bg-rose-600 text-white text-center font-semibold hover:bg-rose-500 transition">
                🚪 Выйти из аккаунта
            </a>

        </div>
    </div>
</div>

{% endblock %}
