<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Настройки</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        function toggleSidebar() {
            document.getElementById("sidebar").classList.toggle("open");
        }
    </script>
</head>
<div class="top-profile">
    <div class="profile-icon" onclick="toggleProfileMenu()">👤</div>

    <div class="profile-menu" id="profileMenu">
        <a href="/profile?token={{ token }}">👤 Профиль</a>
        <a href="/settings?token={{ token }}">⚙ Настройки</a>
        <a href="/login">🚪 Выйти</a>
    </div>
</div>

<script>
function toggleProfileMenu() {
    document.getElementById("profileMenu").classList.toggle("open");
}
</script>

<body>
<div class="sidebar" id="sidebar">

    <div class="sidebar-tab" onclick="toggleSidebar()">
        ☰
    </div>

    <div class="sidebar-content">
        <a href="/home?token={{ token }}">🏠 Главная</a>
        <a href="/add_expense?token={{ token }}">➖ Добавить расход</a>
        <a href="/add_income?token={{ token }}">➕ Добавить доход</a>
        <a href="/history?token={{ token }}">📜 История</a>
        <a href="/goals?token={{ token }}">🎯 Цели</a>

        <a href="/wishlist?token={{ token }}">🕒 Отложенные покупки</a>
        <a href="/stats?token={{ token }}">📊 Статистика</a>

    </div>

</div>

<div class="auth-card">
    <h1>Настройки профиля</h1>

    <a class="profile-btn" href="/change_username?token={{ token }}">✏ Сменить логин</a>
    <a class="profile-btn" href="/change_password?token={{ token }}">🔑 Сменить пароль</a>
    <a class="profile-btn" href="/profile?token={{ token }}">⬅ Назад</a>
</div>

</body>
</html>
